[Unit]
Description=actuator ctrl web server
After=network.target

[Service]
Type=simple
ExecStart=/home/pibot/pibot/actuator_ctrl_server/build/pibot 9000
Restart=on-failure

[Install]
WantedBy=multi-user.target
