[Unit]
Description=Momo Camera Streaming Server
After=network.target

[Service]
Type=simple
ExecStart=/home/pibot/pibot/camera_streaming_server/momo/momo --force-i420 --hw-mjpeg-decoder=true --no-audio-device --use-libcamera test
WorkingDirectory=/home/pibot/pibot/camera_streaming_server/momo/
Restart=on-failure 

[Install]
WantedBy=multi-user.target
